 /* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  } */

  main {
    flex: 1 0 auto;
  }
      
  h1 {
    color: white;
  }

  #trending-card {
    max-width: 220px;
    /* display:flex;
    flex-wrap: wrap; */
    margin: 5px;
  }

  #card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #card-image-div {
    max-height: 330px;
  }