 /* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  } */

  main {
    flex: 1 0 auto;
  }
      
  h1 {
    color: white;
  }

  #trending-card {
    max-width: 220px;
    /* display:flex;
    flex-wrap: wrap; */
    margin: 5px;
  }

  #card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #card-image-div {
    max-height: 330px;
  }
  
  /* COOL ANIMATIONS  */


  body {
    font-family: Helvetica, Arial, sans-serif;
    
    background-color: transparent;
  }
  
  .logo {
    font-size: 2rem;
    padding: 0 0.3em;
    display: flex;
    float: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .firstName {
    background-color: transparent;
    color:black;
    font-style: italic;
  }
  
  .lastName {
    background-color: transparent;
    color: black;
    font-style: italic;
  }
  
  
  /* Set vendor-specific animation name and duration on .logo class */
  
  .logo {
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 3s;
    -moz-animation-name: fadein;
    -moz-animation-duration: 3s;
    -ms-animation-name: fadein;
    -ms-animation-duration: 3s;
    -o-animation-name: fadein;
    -o-animation-duration: 3s;
    animation-name: fadein;
    animation-duration: 3s;
  }
  
  /* Set vendor-specific keyframes for animation on load 
     Position and opacity are animated */
  
  @-webkit-keyframes fadein {
    0% { opacity: 0; margin-left: -250px; }
    100% { opacity: 1; margin-left: 0; }
  }
  
  @-moz-keyframes fadein {
    0% { opacity: 0; margin-left: -250px; }
    100% { opacity: 1; margin-left: 0; }
  }
  
  @-ms-keyframes fadein {
    0% { opacity: 0; margin-left: -250px; }
    100% { opacity: 1; margin-left: 0; }
  }
  
  @-o-keyframes fadein {
    0% { opacity: 0; margin-left: -250px; }
    100% { opacity: 1; margin-left: 0; }
  }
  
  @keyframes fadein {
    0% { opacity: 0; margin-left: -250px; }
    100% { opacity: 1; margin-left: 0; }
  }




