 /* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  } */

  main {
    flex: 1 0 auto;
  }
      
  h1 {
    color: white;
  }
h5{
  color: #f3f3f3;
}
  #trending-card {
    width: 440px;
    /* display:flex;
    flex-wrap: wrap; */
    margin: 10px 10px 40px 10px;
   min-height: 660px;
   background-repeat: no-repeat;
   background-position: 0px 0px;
   background-size: cover;

  }

  #card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  #card-image-div {
    max-height: 330px;
  }

  .header-row{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0px !important;
  
  }
  .watchlistX{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  

  }
  .trendingMovieInfo{
    padding: 5px;
    color: #212121;
    background-color: rgba(83, 83, 83, 0.2);
    position: absolute;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    /* box-shadow: 10px 0 0 0 rgb(255, 255, 255,); */
  }
  .trendingMovieInfo p{
    visibility: hidden;
    opacity: 15;
    max-height: 0;
    overflow-y: auto;
    transition: 2s;
    color: #f3f3f3;
    text-shadow: #212121 3px 3px 3px;
  }

  .card:hover .trendingMovieInfo p{
    visibility: visible;
    opacity: 15;
    height: auto;
    max-height: 360px;
  }
  .lightDarkModeToggle{
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .lightMode{
    background-color: #f3f3f3;
    color: #212121;

  }
  .darkMode{
    background-color: #212121;
    color: #f3f3f3;
  }
  .darkMode .watchlistItem{
    background-color: #4f4f4f;
    border-color: #212121;
  }
  .darkMode h4{
    color: black;
  }
  .darkMode .modal-content{
    color: black;
  }

  .darkMode .watchlistItem a {
    /* color: darkblue; */
  }
